<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'homepage:index' %}">Главная</a>
                <a class="nav-link" href="{% url 'property:property_list' %}">Объекты недвижимости</a>
                <a class="nav-link" href="{% url 'mortgage:mortgage_calculator' %}">Ипотечный калькулятор</a>
                <a class="nav-link" href="{% url 'trench_mortgage:trench_mortgage_calculator' %}">Траншевая ипотека</a>
            </div>
        </div>
    </nav>
</header>