{% load mortgage_filters %}

{% calculation_detail_table calculation as detail_table %}
<table class="table table-bordered table-sm mb-0 bg-body calculation-detail-table">
    <colgroup>
        <col style="width: {{ detail_table.label_width }}ch;">
        <col style="width: {{ detail_table.value_width }}ch;">
        <col class="calculation-layout-column">
    </colgroup>
    <tbody>
        {% for row in detail_table.rows %}
        <tr>
            <th scope="row" class="text-nowrap">{{ row.label }}</th>
            <td class="text-nowrap">{{ row.value }}</td>
            {% if forloop.first %}
            <td rowspan="{{ detail_table.rows|length }}" class="calculation-layout-cell">
                <div class="calculation-layout-frame">
                    {% if detail_table.layout_image %}
                    <a href="{{ detail_table.layout_image.url }}" class="calculation-layout-link" data-image-modal="true" data-image-modal-title="Планировка">
                        <img src="{{ detail_table.layout_image.url }}" alt="Планировка" class="calculation-layout-image">
                    </a>
                    {% else %}
                    <span class="text-muted">-</span>
                    {% endif %}
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
