<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Real Estate Investing{% endblock %}</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
</head>
    <body>
        {% include "includes/header.html" %}
        <hr>

        <main>
            <div class="container pt-5">
                {% block content %}
                {% endblock %}
            </div>
        </main>

        <hr>
        {% include "includes/footer.html" %}
    </body>
</html>